/* This file imports all your scss partials to be complied 
in one stylesheet, which you can attach to your html.

All the files that are prefixed with an underscore "_name-of-the-file.scss"
are called partials - meaning that their css isn't compiled unless it's imported
into an unprefixed.scss file */
/* are placeholders for storing information that you want to reuse
	throughout your styles. You can store things like colours,
	font-stacks, or any css value you think you might want to reuse. 

	SASS uses the '$' symbol to declare variables. */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* Paul Irish's Padding Fix
http://paulirish.com/2012/box-sizing-border-box-ftw
*/
/* line 10, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/reset */
* {
  box-sizing: border-box; }

/* line 26, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/reset */
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 36, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/reset */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

/* line 39, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/reset */
body {
  line-height: 1; }

/* line 42, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/reset */
ol, ul {
  list-style: none; }

/* line 45, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/reset */
blockquote, q {
  quotes: none; }

/* line 49, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/reset */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 53, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'iconic-font';
  src: url('../../font/iconic-font.eot?33603664');
  src: url('../../font/iconic-font.eot?33603664#iefix') format('embedded-opentype'), url('../../font/iconic-font.woff?33603664') format('woff'), url('../../font/iconic-font.ttf?33603664') format('truetype'), url('../.. s/font/iconic-font.svg?33603664#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?78775027#fontello') format('svg');
  }
}
*/
/* line 22, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/iconic-font */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconic-font";
  font-style: normal;
  font-size: 3em;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 54, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/iconic-font */
.icon-iconic-tree:before {
  content: '\e80f'; }

/* '' */
/* line 55, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/iconic-font */
.icon-iconic-binoculars:before {
  content: '\e810'; }

/* '' */
/* line 56, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/iconic-font */
.icon-iconic-compass:before {
  content: '\e811'; }

/* '' */
/* line 57, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/iconic-font */
.icon-iconic-leaf:before {
  content: '\e812'; }

/* '' */
/* line 58, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/iconic-font */
.icon-iconic-mountain:before {
  content: '\e813'; }

/* '' */
/* line 59, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/iconic-font */
.icon-iconic-paddles:before {
  content: '\e814'; }

/* '' */
/* line 60, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/iconic-font */
.icon-iconic-tent:before {
  content: '\e815'; }

/* '' */
/* line 2, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/main */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  padding: 0; }

/* line 12, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/main */
body {
  background-color: #FFF9F3;
  font-family: 'Lato', sans-serif; }

/* line 17, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 21, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/main */
h1 {
  text-align: center;
  font-size: 2em;
  color: #BCBF60;
  font-weight: 700;
  padding: 1.5em;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 3.125em; }

/* SERVICES */
/* line 34, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/main */
.services {
  width: 100%;
  display: block; }

/* ICONS */
/* line 40, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/main */
.icons {
  color: #384001;
  position: relative;
  padding-bottom: 0.5em;
  text-align: center;
  opacity: 0.8; }
  /* line 10, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/mixins */
  .icons:hover {
    opacity: 1;
    color: #BCBF60; }
  /* line 43, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/main */
  .icons figcaption {
    position: relative;
    width: 100%;
    text-align: center;
    opacity: 0;
    padding: 1em;
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: 300;
    color: #384001; }

/* line 56, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/main */
.icons-border {
  display: block;
  width: 80px;
  height: 2px;
  background: #384001;
  opacity: 0.8;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px; }

/* line 67, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/main */
.icons:hover figcaption {
  opacity: 1; }

/* line 71, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/main */
.icons figcaption h6 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: -0.3em;
  font-weight: 700;
  color: #384001; }

/* GRIDIFIER */
/* line 2, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.grid {
  margin: 0;
  padding: 0;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

/* line 15, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.grid-bottom {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: end;
      align-items: flex-end; }

/* line 21, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.grid-middle {
  -webkit-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center; }

/* line 27, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.grid-stretch {
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  -ms-flex-align: stretch;
      align-items: stretch; }

/* line 33, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.opera-only :-o-prefocus, .grid {
  word-spacing: -0.43em; }

/* line 37, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.unit {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  display: inline-block;
  visibility: visible;
  float: left; }

/* line 47, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.grid-bottom .unit {
  vertical-align: bottom; }

/* line 51, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.grid-middle .unit {
  vertical-align: middle; }

/* line 56, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.unit[class*="push-"], .unit[class*="pull-"] {
  position: relative; }

/* line 60, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.unit-s-hidden {
  display: none;
  visibility: hidden; }

/* line 65, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.unit-s-centered {
  margin: 0 auto; }

/* line 69, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.unit-s-1, .s-1 {
  display: block;
  visibility: visible;
  width: 100%; }

/* line 75, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.unit-s-1-2, .s-1-2 {
  width: 50%; }

/* line 79, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.unit-s-1-3, .s-1-3 {
  width: 33.3333%; }

/* line 83, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.unit-s-2-3, .s-2-3 {
  width: 66.6667%; }

/* line 87, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.unit-s-1-2, .s-1-2, .unit-s-1-3, .s-1-3, .unit-s-2-3, .s-2-3 {
  display: inline-block;
  visibility: visible; }

@media only screen and (min-width: 38em) {
  /* line 94, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-m-hidden {
    display: none;
    visibility: hidden; }

  /* line 99, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-m-centered {
    margin: 0 auto; }

  /* line 103, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-m-1, .m-1 {
    display: block;
    visibility: visible;
    width: 100%; }

  /* line 109, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-m-1-2, .m-1-2 {
    width: 50%; }

  /* line 113, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-m-1-3, .m-1-3 {
    width: 33.3333%; }

  /* line 117, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-m-2-3, .m-2-3 {
    width: 66.6667%; }

  /* line 121, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-m-1-2, .m-1-2, .unit-m-1-3, .m-1-3, .unit-m-2-3, .m-2-3 {
    display: inline-block;
    visibility: visible; }
 }

@media only screen and (min-width: 60em) {
  /* line 130, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-l-hidden {
    display: none;
    visibility: hidden; }

  /* line 135, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-l-centered {
    margin: 0 auto; }

  /* line 139, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-l-1, .l-1 {
    display: block;
    visibility: visible;
    width: 100%; }

  /* line 145, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-l-1-2, .l-1-2 {
    width: 50%; }

  /* line 149, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-l-1-3, .l-1-3 {
    width: 33.3333%; }

  /* line 153, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-l-2-3, .l-2-3 {
    width: 66.6667%; }

  /* line 157, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-l-1-4, .l-1-4 {
    width: 25%; }

  /* line 161, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-l-3-4, .l-3-4 {
    width: 75%; }

  /* line 165, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
  .unit-l-1-2, .l-1-2, .unit-l-1-3, .l-1-3, .unit-l-2-3, .l-2-3, .unit-l-1-4, .l-1-4, .unit-l-3-4, .l-3-4 {
    display: inline-block;
    visibility: visible; }
 }

/* line 172, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.unit-content-distribute {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

/* line 187, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.content-fill {
  -ms-flex-grow: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
      flex-grow: 2; }

/* line 193, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/grid */
.content-shrink {
  -ms-align-self: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

/* END - GRIDIFIER */
/* TYPOGRAFIER */
/* line 2, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
html {
  font: normal 100%/1.5 'Lato', sans-serif; }

@media only screen and (min-width: 60em) {
  /* line 8, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
  html {
    font-size: 110%; }
 }

@media only screen and (min-width: 90em) {
  /* line 16, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
  html {
    font-size: 120%; }
 }

@media only screen and (min-width: 120em) {
  /* line 24, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
  html {
    font-size: 130%; }
 }

/* line 33, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, figure, blockquote, details, hr, fieldset, pre, table {
  margin: 0 0 1.5rem; }

/* line 37, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.yotta {
  font-size: 2.2807rem;
  line-height: 1.3154; }

/* line 42, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.zetta {
  font-size: 2.0273rem;
  line-height: 1.4798; }

/* line 47, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
h1, .exa {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.802rem;
  line-height: 1.6648;
  letter-spacing: 3px; }

/* line 55, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
h2, .peta {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6018rem;
  line-height: 1.8729;
  letter-spacing: 3px; }

/* line 63, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
h3, .tera {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.4238rem;
  line-height: 1.0535;
  letter-spacing: 3px; }

/* line 71, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
h4, .giga {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.2656rem;
  line-height: 1.1852; }

/* line 78, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
h5, .mega {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.3333; }

/* line 85, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
h6, .kilo {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5; }

/* line 92, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
small, .milli {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 0.8889rem;
  line-height: 1.6875; }

/* line 99, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.micro {
  font-size: 0.7901rem;
  line-height: 1.8984; }

/* line 105, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
sub, sup {
  font-size: 75%;
  line-height: 1px;
  position: relative;
  vertical-align: baseline; }

/* line 112, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
sup {
  top: -0.5em; }

/* line 116, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
sub {
  bottom: -0.25em; }

/* line 120, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.text-left {
  text-align: left; }

/* line 124, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.text-right {
  text-align: right; }

/* line 128, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.text-center {
  text-align: center; }

/* line 132, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.normal {
  font-weight: normal; }

/* line 136, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.bold {
  font-weight: bold; }

/* line 140, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.italic {
  font-style: italic; }

/* line 144, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.push {
  margin-bottom: 1.5rem; }

/* line 148, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.push-none, .push-0 {
  margin-bottom: 0; }

/* line 152, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.push-double, .push-2 {
  margin-bottom: 3rem; }

/* line 156, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.push-half, .push-1-2 {
  margin-bottom: 0.75rem; }

/* line 160, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.push-quarter, .push-1-4 {
  margin-bottom: 0.375rem; }

/* line 164, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.pad-top, .pad-t {
  padding-top: 1.5rem; }

/* line 168, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.pad-bottom, .pad-b {
  padding-bottom: 1.5rem; }

/* line 172, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.pad-top-double, .pad-t-2 {
  padding-top: 3rem; }

/* line 176, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.pad-bottom-double, .pad-b-2 {
  padding-bottom: 3rem; }

/* line 180, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.pad-top-half, .pad-t-1-2 {
  padding-top: 0.75rem; }

/* line 184, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.75rem; }

/* line 188, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.pad-top-quarter, .pad-t-1-4 {
  padding-top: 0.375rem; }

/* line 192, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.pad-bottom-quarter, .pad-b-1-4 {
  padding-bottom: 0.375rem; }

/* line 196, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.island {
  padding: 1.5rem; }

/* line 200, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.island-double, .island-2 {
  padding: 3rem; }

/* line 204, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.island-half, .island-1-2 {
  padding: 0.75rem; }

/* line 208, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.island-quarter, .island-1-4 {
  padding: 0.375rem; }

/* line 212, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.gutter {
  padding-left: 1rem;
  padding-right: 1rem; }

/* line 217, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.gutter-double, .gutter-2 {
  padding-left: 2rem;
  padding-right: 2rem; }

/* line 222, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.gutter-half, .gutter-1-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

/* line 227, /Users/emma-lee/Documents/Year 4/Semester Two/Web Development V/exercise-2-scss/scss/components/typography */
.gutter-quarter, .gutter-1-4 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

/* END - TYPOGRAFIER */