// Mixins

@mixin icons{
	color: $primary-dark;
	position: relative;
    padding-bottom: .5em;
    text-align: center;
    opacity: .8;
	// references the parent selector using the '&'
	&:hover{
		opacity: 1;
		color: $primary;
	}
}
