@font-face {
  font-family: 'iconic-font';
  src: url('../../font/iconic-font.eot?33603664');
  src: url('../../font/iconic-font.eot?33603664#iefix') format('embedded-opentype'),
       url('../../font/iconic-font.woff?33603664') format('woff'),
       url('../../font/iconic-font.ttf?33603664') format('truetype'),
       url('../.. s/font/iconic-font.svg?33603664#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconic-font';
    src: url('../font/iconic-font.svg?33603664#iconic-font') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconic-font";
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-iconic-tree:before { content: '\e800'; } /* '' */
.icon-iconic-binoculars:before { content: '\e801'; } /* '' */
.icon-iconic-compass:before { content: '\e802'; } /* '' */
.icon-iconic-compass:before { content: '\e803'; } /* '' */
.icon-iconic-mountain:before { content: '\e804'; } /* '' */
.icon-iconic-paddles:before { content: '\e805'; } /* '' */
.icon-iconic-tent:before { content: '\e806'; } /* '' */